<div flex layout="column">
    <!-- Material design house -->
    <div id="background-house"></div>

    <!-- Container for the budget results -->
    <md-whiteframe class="md-whiteframe-2dp"
                   id="budget-container"
                   flex-sm="100" flex-gt-sm="100" flex-gt-md="75" layout="column" layout-align="center center">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Resultado del presupuesto {{ vm.userId }} (Presupuestos válidos en Guadalajara, Jalisco)</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <!-- Container for the list of results -->
        <md-content id="list-container">
            <md-list>
                <md-subheader class="md-no-sticky">Techo</md-subheader>
                <md-list-item class="md-3-line">
                    <img src="components/core/img/techo.svg" class="md-avatar" alt="Item price" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Techo de concreto básico</h3>
                        <h4>Cantidad: {{ vm.budget.sqMeters }} m2</h4>
                        <p><strong>Costo: ${{ vm.budget.roof.price }}</strong></p>
                    </div>
                    <md-button class="md-raised md-primary">Ver precios</md-button>
                </md-list-item>
                <md-divider ></md-divider>

                <md-subheader class="md-no-sticky">Muros</md-subheader>
                <md-list-item class="md-3-line">
                    <img src="components/core/img/castillo.svg" class="md-avatar" alt="Item price" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Castillos</h3>
                        <h4>Cantidad: {{ vm.budget.castles.count }}</h4>
                        <p><strong>Costo: ${{ vm.budget.castles.price }}</strong></p>
                    </div>
                    <md-button class="md-raised md-primary">Ver precios</md-button>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <img src="components/core/img/muros.svg" class="md-avatar" alt="Item price" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Blocks</h3>
                        <h4>Cantidad: {{ vm.budget.sqMeters }} m2</h4>
                        <p><strong>Costo: ${{ vm.budget.blocks.price }}</strong></p>
                    </div>
                    <md-button class="md-raised md-primary">Ver precios</md-button>
                </md-list-item>
                <md-divider ></md-divider>

                <md-subheader class="md-no-sticky">Piso</md-subheader>
                <md-list-item class="md-3-line">
                    <img src="components/core/img/piso.svg" class="md-avatar" alt="Item price" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Piso de Concreto</h3>
                        <h4>Cantidad: {{ vm.budget.sqMeters }} m2</h4>
                        <p><strong>Costo: ${{ vm.budget.floor.price }}</strong></p>
                    </div>
                    <md-button class="md-raised md-primary">Ver precios</md-button>
                </md-list-item>
                <md-divider ></md-divider>

                <md-subheader class="md-no-sticky" ng-show="vm.budget.paint">Pintura</md-subheader>
                <md-list-item class="md-3-line" ng-show="vm.budget.paint">
                    <img src="components/core/img/pintura.svg" class="md-avatar" alt="Item price" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Pintura de muros</h3>
                        <h4>Cantidad: N/D</h4>
                        <p><strong>Costo: ${{ vm.budget.paint.price }}</strong></p>
                    </div>
                    <md-button class="md-raised md-primary">Ver precios</md-button>
                </md-list-item>
                <md-divider ng-show="vm.budget.paint"></md-divider>

            </md-list>
        </md-content>

        <!-- Container for the price information -->
        <div layout="column" layout-gt-md="row">
            <!-- Container for the actual price and actual salary -->
            <div layout="column" style="text-align: left;" flex="100" flex-gt-md="30">
                <md-card id="price-card">
                    <img src="components/core/img/material-house.jpg" class="md-card-image" alt="House">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Total Necesario para la Remodelación:</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h2 id="price">$ {{ vm.roundNumber( vm.budget.total ) }} pesos</h2>
                        <h3>Ingreso semanal: ${{ vm.budget.weeklyIncome }}</h3>
                    </md-card-content>
                </md-card>
            </div>

            <!-- Container for the payment plans -->
            <div layout="column" style="text-align: center; margin-top: 50px;" flex-gt-md="70" flex="100">
                <h4>Planes de liquidación (Base ahorro)</h4>

                <!-- Container for the liquidation plans -->
                <div layout="row" >
                    <div flex="25">
                        <h4>6 meses</h4>
                        <span>Ahorros mensuales de</span>
                        <h4>$ {{ vm.roundNumber( vm.budget.total / 6 ) }}</h4>
                    </div>

                    <div flex="25">
                        <h4>12 meses</h4>
                        <span>Ahorros mensuales de</span>
                        <h4>$ {{ vm.roundNumber( vm.budget.total / 12 ) }}</h4>
                    </div>

                    <div flex="25">
                        <h4>24 meses</h4>
                        <span>Ahorros mensuales de</span>
                        <h4>$ {{ vm.roundNumber( vm.budget.total / 24 ) }}</h4>
                    </div>

                    <div flex="25">
                        <h4>36 meses</h4>
                        <span>Ahorros mensuales de</span>
                        <h4>$ {{ vm.roundNumber( vm.budget.total / 36 ) }}</h4>
                    </div>
                </div>

                <!-- Simple money image -->
                <img src="components/core/img/money.png" style="margin: 0 auto;width: 300px;">
            </div>
        </div>

        <!-- Container for the banks -->
        <div layout="column" style="text-align: center; margin-bottom: 50px;" flex="100" id="banks-container">
            <h4>Consigue financiamiento para tu proyecto con</h4>

            <!-- Container for the liquidation plans -->
            <div layout="row" >
                <md-whiteframe flex="33" class="md-whiteframe-2dp">
                    <img src="components/core/img/banamex.jpg" style="margin: 0 auto;width: 300px;">
                    <h4>Banamex</h4>
                </md-whiteframe>

                <md-whiteframe flex="33" class="md-whiteframe-2dp">
                    <img src="components/core/img/conavi.jpg" style="margin: 0 auto;width: 300px;">
                    <h4>Conavi</h4>
                </md-whiteframe>

                <md-whiteframe flex="33" class="md-whiteframe-2dp">
                    <img src="components/core/img/santander.jpg" style="margin: 0 auto;width: 300px;">
                    <h4>Santander</h4>
                </md-whiteframe>
            </div>
        </div>



    </md-whiteframe>
</div>