<style>
    #home-page-container{
        position: relative;
        top: 70px
    }
</style>
<div class="container" id="home-page-container">
    <div id="header">
        <div id="logoContainer">
            <img src="Images/logoInge.png">
        </div>
        <div class="saludoContainer">
            <h1>¡Hola! Yo soy el Inge Luis y te echaré la mano para que sepas todo lo que necesitas para mejorar tu casa.</h1>
        </div>
    </div>
    <div>
        <div class="videoContainer">
            <iframe width="560" height="315" src=luisss.mp4 frameborder="0" allowfullscreen style="display:block;"></iframe>
        </div>
        <div class="descriptionContainer">
            <div id="imgConoceme"style="margin-bottom:50px;">
                <img src="Images/conoceme.png" style="visibility:hidden;">
            </div>
            <a href="https://telegram.me/inge_juan_bot">
                <div id="conoceme">
                    <img src="Images/botonConoceme.png" style="visibility:hidden;">
                </div>

            </a>
        </div>
    </div>
</div>